.Header {
    display: block;
    width: 100%;
    background-color: #756d6d;
    
}
.gameTitle {
    
    margin: auto;
}
.hangMan {
    font: 400 8vw/1.3 'Berkshire Swash', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
    

  }


.theGame {
    font: 400 4vw/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
    

  }